<div id="about">
    <div class="about-image">
        <img src="/assets/Icons/profile-illustration2.png">
    </div>
    <div id="about-body">
        <div class="about-name">
        <span class="name">Paul Calimache</span>
        <span class="situation">French IT student.</span>
        <div class="about-actively">
            <span class="looking">Actively looking for internship</span>
            <img src="/assets/Icons/eye.gif" width="100px" alt="This will display an animated GIF"/>
        </div>
        </div>
        <div class="about-profile">
            <div class="profile-cta">
                <div>
                    <span class="discover">Discover my profile</span>
                    <span class="discover-cats">Profile | Education & Experience | Skills</span>
                </div>
                <svg class="arrows">
                    <path class="a1" d="M0 0 L15 16 L30 0"></path>
                    <path class="a2" d="M0 10 L15 26 L30 10"></path>
                    <path class="a3" d="M0 20 L15 36 L30 20"></path>
                </svg>
            </div>
            <div class="profile-intro">
                <div class="intro-text">
                    <h2>Hello !</h2>
                    <span>I’m Paul Calimache,</span> 
                    <span>
                        A 21 years old french student living in Toulouse.
                        Actually I'm studying IT in an engineer school named CESI and also I'm working in apprenticeship as software engineer at Thales Alenia Space a space company.
                    </span>
                    <h3 class="lookingfor">Looking for ...</h3>
                    <span>To validate my degree I have to do an internship in another country.</span>
                    <span>
                        If your company is in IT world and looking for an intership you can contact me through the <a href="/contact" class="bc">contact page</a>.
                    </span>
                </div>
                <div class="cursus">
                    <h2 class="center">Education & experiences</h2>
                    <div class="timeline">
                        <div class="t-date">2016 - 2019</div>
                        <div class="t-path">
                            <div class="t-dot"></div>
                            <div class="t-line"></div>
                        </div>
                        <div class="t-text">
                            <span class="t-title">French High-School diploma, Science major</span>
                            <span>High-School Borde Basse</span>
                            <span class="italic">Castres, France</span>
                        </div>
                    </div>
                    <div class="t-preline"></div>
                    <div class="timeline">
                        <div class="t-date">2019 - 2021</div>
                        <div class="t-path">
                            <div class="t-dot"></div>
                            <div class="t-line"></div>
                        </div>
                        <div class="t-text">
                            <span class="t-title">Integrated preparatory cycle for engineer school</span>
                            <span>CESI Engineer school</span>
                            <span class="italic">Toulouse, France</span>
                        </div>
                    </div>
                    <div class="t-preline"></div>
                    <div class="timeline">
                        <div class="t-date">2021</div>
                        <div class="t-path">
                            <div class="t-dot"></div>
                            <div class="t-line"></div>
                        </div>
                        <div class="t-text">
                            <span class="t-title">Web developer Full Stack (intern)</span>
                            <span>Tarnaise des panneaux</span>
                            <span class="italic">Labruguière, France</span>
                            <span>- Concept a postgre database</span>
                            <span>- Create a web application (JS / PHP)</span>
                        </div>
                    </div>
                    <div class="t-preline"></div>
                    <div class="timeline">
                        <div class="t-date">2021 - 2024</div>
                        <div class="t-path">
                            <div class="t-dot"></div>
                            <div class="t-line"></div>
                        </div>
                        <div class="t-text">
                            <span class="t-title">Engineer school IT major</span>
                            <span>CESI Engineer school</span>
                            <span class="italic">Toulouse, France</span>
                            <span class="t-title and">&</span>
                            <span class="t-title">Apprentice software engineer</span>
                            <span>Thales Alenia Space</span>
                            <span class="italic">Toulouse, France</span>
                            <span>- Development of a web application :
                                <ul>
                                    <li>Fullstack development : Angular front-end, Golang microservices</li>
                                    <li>Unit tests & end to end tests (cypress + cucumber)</li>
                                    <li>Build CI/CD pipelines</li>
                                    <li>Containerization with Docker & deployment with Kubernetes</li>
                                </ul>
                            </span>
                            <span>- Work in an AGILE & SAFe environment</span>
                        </div>
                    </div>
                </div>
                <h2 class="center">Skills</h2>
                <div class="skills">
                    <div class="skill">
                        <span class="s-title">Front-end</span>
                        <span>HTML / CSS</span>
                        <span>JavaScript / TypeScript</span>
                        <span>Angular Framework</span>
                    </div>
                    <div class="skill">
                        <span class="s-title">Backend-end</span>
                        <span>JavaScript / Golang / PHP</span>
                    </div>
                    <div class="skill">
                        <span class="s-title">Others languages</span>
                        <span>C / C# / c++</span>
                    </div>
                    <div class="skill">
                        <span class="s-title">DevOps</span>
                        <span>Docker / Kubernetes</span>
                    </div>
                    <div class="skill">
                        <span class="s-title">Database</span>
                        <span>MySQL / Postgre / SqlServer</span>
                    </div>
                    <div class="skill">
                        <span class="s-title">Workflow</span>
                        <span>Git / Gitlab / Azure DevOps</span>
                        <span>AGILE & SAFE method</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
