#contact {
    width:100%;
    height:100%;
    background:rgb(255, 255, 255);
}
.contact-header {
  display:flex;
  justify-content: center;
  background:green;
}
.contact-body {
  width:100%;
  height:100%;
}
.contact-row {
  width:100%;
  border-top:5px black solid;
  padding:5px;
  display:flex;
  justify-content: space-between;
  column-gap:5px;
  align-items: center;
}
label, .label, .input {
  color:green;
  font-weight: bold;
}
input, textarea, .input {
  flex-grow: 1;
  border:0;
  outline:none;
  font-weight: bold;  
}
textarea {
  width:100%;
  height:280px;
  overflow-y:hidden;
  resize: none;
  margin:0px 5px;
}

#submit {
  position:absolute;
  bottom:20px;
  right:20px;
  width:70px;
  height:70px;
  border-radius:50%;
  border:4px black solid;
  padding:5px;
  background-color: green;
  transform: translate(-8px, -8px);
  z-index: 2;
}
#submit:hover {
  cursor:pointer;
  transform: translate(0px, 0px)
}
.submit-circle {
  position:absolute;
  bottom:20px;
  right:20px;
  width:70px;
  height:70px;
  border-radius:50%;
  background-color:black;
  z-index:1;
}