<div class="work">
    <h1> Works I realized</h1>
    <div class="w-item">
        <div class="w-left">
            <img class="w-icon" src="/assets/Icons/resume.svg">
            <div class="w-preview">
                <span class="w-title">Website portfolio</span>
                <span>I made a portfolio website with angular</span>
                <div class="w-tag"></div>
            </div>
        </div>
        <div class="w-more">
            <a href="" class="more-clic">+</a>
        </div>
    </div>
    <!---->
    <div class="w-item">
        <div class="w-left">
            <img class="w-icon" src="/assets/Icons/resume.svg">
            <div class="w-preview">
                <span class="w-title">Website portfolio</span>
                <span>I made a previous portfolio website</span>
                <div class="w-tag"></div>
            </div>
        </div>
        <div class="w-more">
            <a href="" class="more-clic">+</a>
        </div>
    </div>
</div>
