body {
    margin:0;
    height:100vh;
    widows: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: rgb(217, 201, 191);
    //background-color: rgb(18,29,37);
  }

  a {
    text-decoration: none;
    color:inherit;
  }
  a::after {
    text-decoration: none;
    color:inherit;
  }

  * {
    font-family: Helvetica, sans-serif;
  }

  .italic {
    font-style: italic;
  }
  .center {
    text-align: center;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
