body {
    margin:0;
    height:100vh;
    widows: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 201, 191);
  }

  a {
    text-decoration: none;
  }
  a::after {
    text-decoration: none;
  }
