#home {
    width:100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:min-content min-content;
  }

a {
  margin-top:40px;
  font-family: Helvetica, Arial;
}

#fader {
  position:absolute;
  background-color: black;
  left:50%;
  top:50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}