<div id="settings" [ngStyle]="{'background-color': BG_COLOR}">
    <h1>Wallpaper settings</h1>
    <div class="carousel" (click)="selectWallpaper(WallpaperList[Index])">
        <img class="bg-image" [style.border]="isActiveWallpaper(WallpaperList[Index])" src="{{WallpaperList[Index].path}}"/>
    </div>
    <div class="bg-switch">
        <mat-icon class="bg-previous" (click)="wpPrevious()">chevron_left</mat-icon>
        <mat-icon class="bg-next" (click)="wpNext()">chevron_right</mat-icon>
    </div>
</div>
