#settings {
    width:100%;
    height:100%;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap:20px;
    mat-icon {
        transform:scale(2);
        color:lightgray;
    }
    h1 {
        color:lightgray;
        margin:0;
    }
}

.carousel{
    width:80%;
    height:70%;
    border-radius:30px;
    :hover {
        cursor:pointer;
        border:2px white solid;
    }
    .bg-image {
        border-radius:30px;
        width:100%;
        height:100%;
    }
}

.bg-switch {
    display:flex;
    column-gap:40px;
    .bg-previous:hover, .bg-next:hover {
        cursor:pointer;
    }
}